Package: xyz.sn0wstar.sillyo-installer
Name: Sileo for unc0ver
Depends: libapt-pkg5.0, apt1.4, com.samgisaninja.sillyo, curl
Version: 2.0.0b6
Architecture: iphoneos-arm
Description: Safely install official Sileo on unc0ver
Maintainer: sn0wstar
Author: sn0wstar
Section: Utilities
Conflicts: com.pixelomer.u0sileo.backend, com.pixelomer.u0sileo
